<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head">
</head>

<body>

<nav th:replace="fragments/head.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Add products</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline">
                <div class="form-group mb-2 mr-2">
                    <label for="productFilter" class="sr-only">Title filter</label>
                    <input type="text" class="form-control" id="productFilter" th:value="${param.productFilter}"
                           name="productFilter" placeholder="Title filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="costMinFilter" class="sr-only">Minimum cost's</label>
                    <input type="text" class="form-control" id="costMinFilter" th:value="${param.costMinFilter}"
                           name="costMinFilter" placeholder="Minimum cost's">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="costMaxFilter" class="sr-only">Maximum cost's</label>
                    <input type="text" class="form-control" id="costMaxFilter" th:value="${param.costMaxFilter}"
                           name="costMaxFilter" placeholder="Maximum cost's">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Id', 'id')">
                    </th>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Title', 'title')">
                    </th>
                    <th th:replace="fragments/sort_header.html :: sort_header ('Cost', 'cost')">
                    </th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="product : ${product}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.title}">Product tile</td>
                    <td th:text="${product.cost}">Product cost</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button class="btn btn-danger" href="#"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
                <tr th:unless="${product.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>
                </tbody>

            </table>
        </div>

        <div th:unless="${product.isEmpty()}" class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"
                        th:classappend="${product.isFirst()} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/product(page=${product.number}, size=${product.size}, productFilter=${param.productFilter}, costMinFilter=${param.costMinFilter}, costMaxFilter=${param.costMaxFilter}, sortField=${param.sortField})}"
                           tabindex="-1">Previous</a>
                    </li>

                    <li th:each="num : ${#numbers.sequence(1, product.totalPages)}"
                        th:classappend="${num == product.number + 1} ? 'active'"
                        class="page-item">
                        <a class="page-link"
                           th:href="@{/product(page=${num}, size=${product.size}, productFilter=${param.productFilter}, costMinFilter=${param.costMinFilter}, costMaxFilter=${param.costMaxFilter}, sortField=${param.sortField})}">[[${num}]]
                            <span th:if="${num == product.number + 1}" class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="page-item"
                        th:classappend="${product.isLast()} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/product(page=${product.number + 2}, size=${product.size}, productFilter=${param.productFilter}, costMinFilter=${param.costMinFilter}, costMaxFilter=${param.costMaxFilter}, sortField=${param.sortField})}">Next</a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts">
</th:block>

</body>
</html>